<body style="margin: 0; font-family: system-ui, sans-serif; background-color: #f3f4f6;">
  <div style="max-width: 1024px; margin: auto; padding: 1rem;">
    <input id="search" type="text" placeholder="Buscar..." />
    <ul id="search-results"></ul>
    <header style="background:#111827; color:white; padding:1rem 2rem; display:flex; align-items:center; justify-content:space-between;">
        <h1 style="margin:0; font-size:1.25rem;">
          <a href="/" style="color:white; text-decoration:none;">IBBLB Sermones</a>
        </h1>
        <nav>
          <a href="/" style="margin-right:1.5rem; color:white; text-decoration:none;">Inicio</a>
          <a href="/post/" style="color:white; text-decoration:none;">Sermones</a>
        </nav>
      </header>
    <main class="content" style="background: white; padding: 2rem; border-radius: 0.75rem; box-shadow: 0 10px 25px rgba(0,0,0,0.05); margin-top: 2rem;">
      {{ block "main" . }}{{ end }}
    </main>
  </div>
  <script src="https://unpkg.com/lunr/lunr.js"></script>
  <script src="/js/search.js"></script>
</body>